/*********************/
/* Sign in page      */
/*********************/
form.new_user {
  margin: 0 auto;
  position: relative;
  max-width:        530px;
  padding:          15px;
  background-color: #f8f8f8;
  border-radius:    12px;
  border:1px solid #adadad;
}
