#articles.container
  .col-md-9
    .row.bs-callout{'ng-repeat' => 'article in articles'}
      .row
        .col-xs-9.title{'ng-click' => 'article.isCollapsed = !article.isCollapsed'}
          %img{'ng-src' => "{{article.source.logo_thumb}}"}
          {{article.title}}
        .col-xs-3
          %i.fa.fa-star.fa-2x.pull-right{ 'ng-click' => 'star(article)' }
          %i.fa.fa-folder-open.fa-2x.pull-right{ 'ng-click' => 'open(article)' }
          %i.fa.fa-eye.fa-2x.pull-right{ 'ng-click' => 'eye(article)' }
      
      .row{collapse: "!article.isCollapsed"}
        .col-xs-12
          %dl.dl-horizontal
            %dt Categories
            %dd {{article.categories.join(', ')}}
        .col-xs-12.description{'ng-bind-html' => 'getHtml(article.description)'} 

      .row
        .col-xs-3.col-md-2
          %b LinkedIn
          {{article.linkedin}}
        .col-xs-3.col-md-2
          %b Twitter
          {{article.twitter}}
        .col-xs-3.col-md-2
          %b Facebook
          {{article.facebook}}

  .col-md-3.search
    %button.btn.btn-primary.pull-right{ 'ng-click' => 'searchIsCollapsed = !searchIsCollapsed'}
      Search

    .bs-callout{ collapse: "searchIsCollapsed" }
      %form
        .form-group
          %label{ for: 'keywords' } Keywords
          %input.form-control{ name: 'keywords', 'ng-model' => 'criteria.keywords' }

          %label{for: 'status'} Status
          %select.form-control{ name: 'status', 'ng-model' => 'criteria.status' }
            %option{ value: '' }
            - Article.statuses.each do |sdescription, skey|
              %option{ value: skey }= sdescription

          %label{for: ''} Source
          %select.form-control{ name: 'source', 'ng-model' => 'criteria.source' }
            %option{ value: '' }
            - Source.pluck(:key).each do |source|
              %option{ value: source }= source

        %button.btn.btn-primary.btn-lg{ 'ng-click' => 'search()' } Search
