#articles.container
  .col-md-12{ 'infinite-scroll': 'loadMore()', 'infinite-scroll-distance': 1, 'infinite-scroll-disabled': 'isLoadingMore == true' }
    .row.search
      .col-xs-12
        %button.btn.btn-primary.pull-right{ 'ng-click': 'searchIsCollapsed = !searchIsCollapsed'}
          Search

      .bs-callout{ 'uib-collapse': 'searchIsCollapsed' }
        %form
          .form-group
            %label{ for: 'keywords' } Keywords
            %input.form-control{ name: 'keywords', 'ng-model': 'criteria.keywords' }

            %label{for: 'status'} Status
            %select.form-control{ name: 'status', 'ng-model': 'criteria.status' }
              %option{ value: '' }
              - Article.statuses.each do |sdescription, skey|
                %option{ value: skey }= sdescription
            
            %label{for: 'facebook'} Facebook
            .input-group
              .input-group-addon From
              %input.form-control{ name: 'facebook[gt]', type: 'number', 'ng-model': 'criteria.facebook_gt' }
              .input-group-addon to
              %input.form-control{ name: 'facebook[lt]', type: 'number', 'ng-model': 'criteria.facebook_lt' }

            %label{for: 'linkedin'} LinkedIn
            .input-group
              .input-group-addon From
              %input.form-control{ name: 'linkedin[gt]', type: 'number', 'ng-model': 'criteria.linkedin_gt' }
              .input-group-addon to
              %input.form-control{ name: 'linkedin[lt]', type: 'number', 'ng-model': 'criteria.linkedin_lt' }

            %label{for: 'twitter'} Twitter
            .input-group
              .input-group-addon From
              %input.form-control{ name: 'twitter[gt]', type: 'number', 'ng-model': 'criteria.twitter_gt' }
              .input-group-addon to
              %input.form-control{ name: 'twitter[lt]', type: 'number', 'ng-model': 'criteria.twitter_lt' }

            %label{for: ''} Source
            %select.form-control{ name: 'source', 'ng-model': 'criteria.source_id' }
              %option{ value: '' }
              - Source.pluck(:key).each do |source|
                %option{ value: source }= source

          %button.btn.btn-primary.btn-lg{ 'ng-click': 'search()' } Search

    .row.bs-callout{'ng-repeat': 'article in articles'}
      .row
        .col-xs-8.title{'ng-click': 'read(article)'}
          %img{'ng-src': '{{article.source.logo_thumb}}'}
          {{article.title}}
        .col-xs-4
          %i.fa.fa-2x.pull-right.fa-star-o{ 'ng-click': 'translate(article)', 'ng-if': "article.status == 'pending'", 
            'ng-disabled': "article.status != 'pending'", 'uib-tooltip': 'Request a translation' }
          %i.fa.fa-2x.pull-right.fa-star{ 'ng-if': "article.status == 'approved'", 'uib-tooltip': 'Translation requested' }
          %i.fa.fa-2x.pull-right{ 'ng-click': 'archive(article)', 'uib-tooltip': 'Archive / Unarchive', 
            'ng-class': "article.status == 'archived' ? 'fa-folder' : 'fa-folder-open'" }
          %i.fa.fa-2x.pull-right{ 'ng-click': 'read_unread(article)', 'uib-tooltip': 'Read / Unread', 
            'ng-class': "article.is_read == true ? 'fa-eye-slash' : 'fa-eye'" }
      
      .row{'uib-collapse': '!article.isCollapsed'}
        .col-xs-12
          %dl.dl-horizontal
            %dt Categories
            %dd {{article.categories.join(', ')}}
        .col-md-6.description{'ng-bind-html': 'getHtml(article.description)'} 
        .col-md-6{'ng-show': "article.status == 'approved'"} 
          %form
            .form-group
              %select.form-control{'ng-model': 'article.selected_language'}
                %option{value: 'fr'} French
                %option{value: 'en'} English
            .form-group
              %textarea.form-control{'ng-model': 'article.content[article.selected_language]', rows: '10', placeholder: 'Copy past here the translation'}
            %button.btn.btn-primary{ type: 'submit', 'ng-click': 'update(article)'} Save Translation
      .row
        .col-xs-3.col-md-2
          %b LinkedIn
          {{article.linkedin}}
        .col-xs-3.col-md-2
          %b Twitter
          {{article.twitter}}
        .col-xs-3.col-md-2
          %b Facebook
          {{article.facebook}}

    .row.bs-callout{'ng-if': 'articles.length == 0'}
      .row
        .col-xs-9.title{'ng-click': 'article.isCollapsed = !article.isCollapsed'}
        .col-xs-3

      .row
        .col-xs-12.description
          No Articles matching your criteria 
